.subtex {
    font-size:48px;
    align-content:center;
    vertical-align:middle;
    display:inline-flex;
    margin-right:8px;
    line-height:1;
    margin-bottom:12px;
}
.popout {
    margin-bottom:48px;
}
pre {
    tab-size: 4;
    font-family:"FantasqueSansMonoRegular";
}
code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    font-family:"FantasqueSansMonoRegular";
}
code:before {
    letter-spacing: -0.2em;
    content: "\00a0";
}
code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}